.headshot {
	height: 250px;
	border-radius: 1em;
	margin: 1em;
}

.about-page {
	background-color: #F9F8F6;
	display: flex;
	justify-content: space-around;
}

.Adam,
.Carly,
.Kyra {
	display: flex;
	align-items: center;
	width: 60vw;
	border-radius: 1em;
	margin: 1em;
}

.summary-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.name,
.summary,
.personal-pages {
	margin: .7em;
}

.collaborators {
	background-color: white;
}

.playing-game-img {
	min-height: 40vh;
	margin-top: 2em;
}

.personal-pages {
	display: flex;
}

.linkedin,
.github {
	margin: 0 .5em 0 .7em;
	color: black;
}

.linkedin:hover,
.github:hover {
	color: #F65C00;
}

@media screen and (max-width: 888px) {
	.about-page {
		display: flex;
		flex-direction: column;
	}

	.Adam,
	.Carly,
	.Kyra {
		width: 90vw;
	}
}

@media screen and (max-width: 820px) {

	.Adam,
	.Carly,
	.Kyra {
		display: flex;
		flex-direction: column;
	}
}