* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  padding: 2.5em;
  background: #F9F8F6;
}

.form-standings-section {
  display: flex;
  justify-content: space-between;
}