.game-play-form {
  display: flex;
  flex-direction: column;
  background: #F65C00;
  min-height: 29vh;
  min-width: 27%;
  border-radius: 10px;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}

select {
  color: #757575;
  padding: 0 .5em;
}

.add-game-btn {
  background: #9B4007;
  color: #fff;
}

select,
.add-game-btn {
  width: 80%;
  min-height: 2.2em;
  border-radius: 7px;
  border: 0;
}

.game-play-form p {
  color: #fff;
  font-size: .7em;
}