main {
  padding: 3em;
  background: #F9F8F6;
}

.game-night-form {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .3);
  min-width: 47%;
  display: flex;
  flex-direction: column;
}