.game-night {
  display: flex;
  min-height: 35vh;
  justify-content: space-between;
  align-items: center;
  border: 4px solid #F65C00;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1.5em;
}

.date-location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17vh;
  min-width: 15%;
}

.date-location p {
  background: #FBC89E;
  border-radius: 10px;
  padding: .5em;
  text-align: center;
}