.game-container {
  background: #fff;
  border-radius: 20px;
  margin-top: 2em;
  min-height: 35vh;
  padding: 1.3em;
  text-align: right;
}

.empty-container-msg {
  text-align: center;
  color: #757575;
}

.clear-btn {
  background: #F65C00;
  border: 0;
  border-radius: 7px;
  color: #fff;
  font-size: 1em;
  min-height: fit-content;
  padding: .5em;
  width: 10%;
  margin-bottom: 1.3em;
}