header {
  background-color: #F65C00;
  color: white;
  width: 100vw;
  min-height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
}

nav {
  display: flex;
}

h1 {
  font-size: 2em;
}

.logo-title {
  display: flex;
  align-items: center;
}

.title-tagline {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: .7em 1em 0 1em;
}

.dice {
  min-height: 100px;
}

.links {
  color: #fff;
  text-decoration: none;
  margin: 0 3em;
}

.left-section {
  display: flex;
  align-items: center;
}

.appTitle {
  font-size: 5vh;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 50px;
  height: 7px;
  margin: 10px auto;
  border-radius: .3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media only screen and (max-width: 820px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}