.standings {
  align-items: center;
  background: #F9A45D;
  border-radius: 20px;
  box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .3);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 48%;
  min-height: 13em;
  padding: 1em;
}

h2 {
  font-size: 1.1em;
  font-weight: 300;
}

.ranks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  text-align: center;
  width: 90%;
}

.winner {
  font-size: 2.2em;
  font-weight: 700;
}

.wins {
  font-size: 1.2em;
}